*{margin:0; padding:0;}
body{
    background-image:url("2.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: inherit; 
}
.menutop{
    width: 100%;
    height: 40px;
    border:1px solid rgb(235, 227, 227) ;
    line-height: 40px;
}
.menutop  >ul{
    display:flex;
    list-style: none;
}
.menutop > ul > li{}
.menutop > ul > li a{
    text-decoration: none;

}
._1item{
    position: relative;
    height: 40px;
    line-height: 40px;
    
}
._1item a.layer1{
    color:white;
    padding:10px 20px ;
}
._1item:hover a.layer1{
    color:rgb(24, 122, 202);
    background-color:aqua
}
._1item:hover   .layer1{}
._1item     .layer2{
    position: relative;
    top: 0px;
    left:0px;
    visibility:hidden;
    opacity: 0;
    transition: 1s;
    width: 200px;
    background:rgb(224, 221, 221);
}
._1item:hover   .layer2{
    visibility: visible;
    opacity:1;
    top:2px;
    left:0;
}
._1item .layer2 ul{
    list-style: none;
}
._1item .layer2 ul li{}
._1item .layer2 ul a{
    display: block;
    width: 200px;
    box-sizing: border-box;
    padding:5px 10px;
    font-family: segoe UI;
    color:blue;
    border-bottom: 1px solid rgb(red, green, blue) ;
}
._1item .layer2 ul a:hover{
    background:white;
    color:black;
}
h2{
    height: 100px;
}
